body { 
    background-color: rgb(255, 255, 255);
}

a:link, a:visited, a:active {
    text-decoration: none;
}

.login_img_div{
    text-align: center;
}

form {
    text-align: center;
}

label {
    text-align: left;
}

strong {
    color: rgb(248, 75, 106);
}

.login_img{
    width: 25%;
    border-radius: 50%;
    background-color: transparent;
}

#forgot{
    margin-right: 5%;
}

.fields {
    width: 20%;
    padding: 12px;
    display: inline-block;
    border: 0px solid rgb(120, 158, 142);
    border-bottom: 1px solid rgb(120, 158, 142);
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1%;
}

.fields:hover{
    opacity: 0.6;
}

.button_red {
    background-color: rgb(248, 75, 106);
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    /*border: 1px solid rgb(169, 228, 135);*/
    cursor: pointer;
    width: 20%;
    border-radius: 10px;
    margin-top: 2%;
    filter: drop-shadow(5px 5px 10px #444);
}

.button_grey {
    background-color: rgb(88, 87, 87);
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    /*border: 1px solid rgb(169, 228, 135);*/
    cursor: pointer;
    width: 20%;
    border-radius: 10px;
    margin-top: 2%;
    filter: drop-shadow(5px 5px 10px #444);
}

button:hover{
    background-color: rgb(77, 240, 150);
    opacity: 0.6;
}

.title_font{
    font-family: 'Quicksand',sans-serif;
    font-style: normal;
    font-weight: 600;
}

.label_text_font{
    font-family: 'Quicksand',sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(248, 75, 106);
}

.grey_text_font{
    font-family: 'Quicksand',sans-serif;
    font-style: normal;
    font-weight: 400;
}




