body { background-color: rgb(184, 172, 172); }


.login_img_div{
    text-align: center;
}

.login_img{
    width: 25%;
    border-radius: 50%;
    background-color: transparent;
}

.fields {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(120, 158, 142);
    box-sizing: border-box;
}

button {
    background-color: rgb(8, 241, 113);
    color: rgb(163, 81, 163);
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(169, 228, 135);
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: rgb(77, 240, 150);
}

.overlay {
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    padding: 50px;
    color: black;
} 

/*    Actions to take when overlay is targeted    */
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup_body {
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    background: wheat;
    padding: 20px;
}

#header {
    background-color: aliceblue;
}

#header_options {
    list-style-type: none;
}