/*[----------------------CSS file for Pop-Up elements----------------------]*/

/* [PopUp CSS] */

.overlay { 
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    margin:-50px 0 0 -100px;
    text-align: center;
    z-index: 100;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.popupBody{
    width: 45%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 10% auto;
    transition: all 5s ease-in-out;
}

.cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
}

.popupContent{

    text-align: center;
}

/* [Resize PopUp] */

@media only screen and (max-width:768px){

    #popupBody{
        width: 80%;
    }
}